<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="note">
    <p>Find No is prime or not.</p>
</div>


<div class="form-content">
    <div class="col-6">
        <div  class="form-group">
            <input type="text" class="form-control" name="" #prime1 [(ngModel)]="prime" id=""  />
        </div>
        <br>
        <button  class="btnSubmit" (click)="checkPrime(prime1.value)" >click</button>
        <div>
            <p *ngFor="let item of primeArray" > {{item}} </p>
        </div>

    </div>
   
   </div> 